.spinner-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #efebe9;
  width: 83%;
  padding: 15px 10px 15px 10px;
  cursor: not-allowed;
}

.spinner-text {
  color:#bdbdbd;
  font-size: 0.88rem;
  font-weight: 800;
  letter-spacing: 1px;
  letter-spacing: 1px;
  margin-left: 3px;
  margin-right: 8px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}